.containerFirst {
    width: 100%;
    height: 1000px;
    background-color: rgb(233, 226, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin: 0;
}
.underline {
    height: 5px;
    background-color: blueviolet;
    width: 200px;
    margin-bottom: 40px;
}
#person-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px -5px rgb(106, 106, 246);
}
.img-container {
    text-align: center;
}
#author {
    text-align: center;
    font-size: 25px;
    margin: 0;
}
#job {
    text-align: center;
    font-weight: 900;
    margin: 0;
    opacity: 0.5;
}
.container-two {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px brown;
    border-radius: 10px;
}
#info {
    text-align: center;
}
.random-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(106, 106, 246);
    cursor: pointer;
    border: 2px rgb(106, 106, 246) solid;
}
.prev-btn {
  color: rgb(106, 106, 246);
   font-size: 25px;
   border: none;
   border-radius: 5px;
   background-color: rgb(214, 214, 251);
   cursor: pointer;
}

