@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

*, *::after, *::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    background-color: white;
    color: #222;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}
.flex {
    display: flex;
    align-items: center;
}
/* style header*/
.header {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;

}
.topNav {
    background-color: rgb(8, 211, 8);
    font-size: 20px;
    color: white;
}
.topNav div{
    justify-content: space-between;
    height: 4.5rem;
}
.topNav a{
    padding: 0 0.5rem;
    color: white;
}
/* style Navigation*/
.navigation {
    height: 100px;
    line-height: 6rem;

}
.navCenter {
    justify-content: space-between;
}
.navCenter .navItem:not(:last-child){
    margin-right: 0.5rem;
}
.navCenter .navLink {
    font-size: 1.8rem;
    padding: 1rem;
}
.navCenter .navLink:hover {
    color: rgb(8, 211, 8);
}
/* style icons*/
.icon{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    position: relative;
}
.icon:not(:last-child){
    margin-right: 0.5rem;
}
.icon span{
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: rgb(8, 211, 8);
    color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}
.navList .icons {
    display: none;
}
.navCenter .menuIcons {
    display: none;
    font-size: 2.3rem;
    color: rgb(41, 40, 40);
    cursor: pointer;
}
@media(max-width: 1000px) {
    .navList {
        position: fixed;
        top:12%;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 5px 5px 10px rgb(0, 0, 0.2);
        background-color: white;
        height: 100%;
        max-width: 35rem;
        width: 0;
        z-index: 100;
        transition: all 300ms ease-in-out;
    }
    .navList.open {
        left: 0;
        width: 100%;
    }
    .navList .navItem {
        margin:0 0 1rem 0;
        width: 100%;

    }
    .navList .navLink {
        font-size: 2rem;
        color: black;
    }
    .navCenter .menuIcons {
        display: block;
        font-size: 3rem;
    }
    .icons {
        display: none;
    }
    .navList .icons {
        display: flex;
    }
    .topNav ul {
       display: none;
    }
    .topNav div{
       justify-content: center;
       height: 3rem;
    }
}

/* style slider */
.containerSlider, .containerSlider .glide__slides {
    background-color: rgb(213, 237, 213);
    position: relative;
    height: calc(100vh - 150px);
    margin: 0 4rem;
    overflow: hidden;
}
.containerSlider .center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding-top: 3rem;
}
.containerSlider .left {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1000ms ease-in-out;

}
.containerSlider .left h1{
    font-size: 5rem;
    margin: 1rem 0;
}
.containerSlider .left p{
    font-size: 1.6rem;
    margin: 0 0 1rem;
}
.containerSlider .left .hero-btn{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    background-color: rgb(8, 211, 8);
    color: white;
}
.containerSlider .right {
    flex: 0 0 50%;
    height: 100%;
    position: relative;
    text-align: center;
}
.containerSlider .right img{
    position: absolute;
    width: 55rem;
    height: 100%;
    
    transition: all 1000ms ease-in-out;
}
.containerSlider .right img img1{
    width: 85%;
    right: -25%;
    bottom: -50%;
}
.containerSlider .right img img2{
    width: 90%;
    right: -40%;
    bottom: -40%;
}
.glide__slide--active .center .right img {
    bottom: -3%;
    opacity: 1;
}
.glide__slide--active .left {
    opacity: 1;
    top: 35%;
}
@media (max-width: 1000px){
    .glide__slide--active .left {
        top: 15%;
    }
    .containerSlider .right img img1{
        width: 90%;
    }
    .containerSlider .right img img2{
        width: 100%;
    }
}
@media (max-width: 1000px){
    .glide__slide--active .left {
        top: 15%;
    }
    .containerSlider .left img img1{
        width: 90%;
    }
    .containerSlider .left img img2{
        width: 100%;
    }
}
@media (max-width: 567px){
    .center .rigth img .img1 {
        width: 30rem;
    }
    .center .rigth img .img2 {
        width: 33rem;
    }
    .containerSlider, .containerSlider .glide__slides {
    margin: 0;
    padding: 0 3rem;
    }
    .containerSlider .left h1 {
        font-size: 3rem;
    }
    .containerSlider .left span {
        font-size: 1.4rem;
    }
    .containerSlider .left p {
        font-size: 1.5rem;
        width: 80%;
    }
    
}
/* category*/
.section {
    padding: 10rem 0 5rem 0;
    overflow: hidden;
}
.centerCat {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 114rem;
    margin: auto;
    padding: 0 3rem;
}
.centerCat .cat{
    max-width: 35rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;

}
.centerCat .cat:not(:last-child){
    margin-right: 3rem;
}
.centerCat .cat img{
    width: 36rem;
    height: 100%;
    margin: auto;
    object-fit: cover;
    transition: all 2s ease;
}
.centerCat .cat:hover img{
    transform: scale(1.1);
}
.centerCat .cat div{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 18rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
@media(max-width: 1200px){
    .centerCat .cat img {
        width: 30rem;

    }
}
@media(max-width: 967px){
    .centerCat .cat img {
        max-width: 25rem;
        height: 20rem;
    }
    .centerCat .cat img {
        width: 25rem;
    }
}
@media(max-width: 768px){
    .section {
        padding: 5rem 0;
    }
    .centerCat{
        flex-direction: column;
        padding: 3rem;
    }
    .centerCat .cat img {
        max-width: 100%;
        height: 30rem;
    }
    .centerCat .cat:not(:last-child){
        margin-right: 0;
        margin-bottom: 5rem;
    }
    .centerCat .cat img {
        width: 300px;
    }
}