.section {
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 8rem;
  box-shadow: 0 0 20px gray;
  border-radius:  10px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-size: 25px;
    text-transform: uppercase;
    opacity: 0.7;
    letter-spacing: 5px;
}
.formControl {
    background-color: rgb(188, 188, 242);
    border-radius: 5px;
}
.submit {
    border: none;
    background-color: rgb(79, 79, 243);
    border: none;
    font-size: 25px;
    text-transform: capitalize;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input {
    border: none;
    background-color: rgb(188, 188, 242);
    font-size: 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.popapItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px 0px 120px;
}
.container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.showContainer {
    visibility: visible;
}
.alert {
    margin-top: 40px;
    margin-bottom: 0;
    background-color: rgb(237, 228, 228);
    width: 400px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.alert-danger {
    color: rgb(48, 48, 204);
    background-color: aquamarine;
}
.alert-success {
    color: rgb(219, 5, 5);
    background-color: rgb(122, 144, 242);
}

/* style buttons*/
.clearBtn {
    width: 25%;
    align-self: center;
    border: none;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: white;
    text-transform: capitalize;
    opacity: 0.7;
    color: rgb(125, 125, 243);
    cursor: pointer;
}
.clearBtn:hover{
    opacity: 1;
}
.clearBtn:active {
    color: red;
}
.btns {
    border: none;
    color: rgb(185, 106, 9);
    background-color: white;
    cursor: pointer;
}
.btns:hover {
    opacity: 0.5;
}
.submit {
    cursor: pointer;
}
.submit:hover {
    color: aliceblue;
    transform: scale(1.1);
}