@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.section {
    margin: 5rem 0;
    padding: 10rem 0 5rem;
    overflow: hidden;
}
/* style navbar */
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    /* background-color: rgb(181, 181, 248);
    box-shadow: 0 3px 5px rgb(124, 124, 124); */
    z-index: 999;
}
nav .navbar {
    max-width: 1400px;
    height: 100%;
    /* background-color:rgb(64, 160, 244); */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .navbar .navLinks .links {
    display: flex;
}
nav .navbar .navLinks {
    height: 100%;
    line-height: 100px;
}
nav .navbar .navLinks .links li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    list-style: none;

}
nav .navbar .navLinks .links li a {
    color: white;
    white-space: nowrap;
    height: 100%;
    font-size: 1rem;
    font-weight: 600;

}
nav .navbar .logo a{
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
nav .navbar .navLinks .links li .aroow {
    height: 100%;
    width: 20px;
    text-align: center;
    line-height: 100px;
    color: white;
    transition: all 0.5s ease;
}
.navbar .navLinks .links li:hover .firstAroow,
.navbar .navLinks .links li:hover .secondAroow {
    transform: rotate(180deg);
}
.navbar .navLinks .links .subMenu {
    position: absolute;
    top: 100px;
    left: 0;
    background: rgb(64, 160, 244);
    line-height: 50px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 5px rgb(124, 124, 124);
    display: none;
}
.navbar .navLinks .links .subMenu li{
    padding: 0 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.navbar .navLinks .links .subMenu li a{
    font-size: 15px;
    
}
.navbar .navLinks .links .subMenu li .moreAroow {
    line-height: 50px;
}
.navbar .navLinks .links li:hover .firstSubMenu,
.navbar .navLinks .links li:hover .secondSubMenu {
    display: block;
}
.navbar .navLinks .links .subMenu .more .moreSubMenu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 5px 5px 5px;
    display: none;
}
.navbar .navLinks .links .subMenu .more:hover .moreSubMenu {
    display: block;
}
.navbar .SearchContainer {
    position: relative;
    height: 50px;
    width: 50px;
}
.navbar .SearchContainer i{
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.navbar .SearchContainer .inputBox {
    height: 90px;
    width: 400px;
    background-color: rgb(64, 160, 244);
    position: absolute;
    top: 110px;
    right: calc(100% - 50px);
    border-radius: 8px;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
}
.navbar.showSearch .SearchContainer .inputBox{
    top: 90px;
    opacity: 1;
    pointer-events: auto;
}
.navbar .SearchContainer .inputBox::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgb(64, 160, 244);
    right: 10px;
    top: -10px;
    transform: rotate(45deg);
}
.navbar .SearchContainer .inputBox input {
    position: absolute;
    height: 50px;
    width: 380px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 20px;
}
nav .navbar .navLinks .sideBar .logoName,
    nav .navbar .navLinks .sideBar .bx-x,
    .navbar .bx-menu{
        display: none;
    }
@media (max-width: 1000px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .navLinks .links li{
        padding: 0 10px;
    }
    nav .navbar .navLinks .links li a {
        font-size: 0.8rem;
    }
    nav .navbar .logo a{
        font-size: 1.5rem;
       
    }
}
@media (max-width: 750px) {
    nav .navbar .navLinks {
       display: block;
       position: fixed;
       background-color: rgb(64, 160, 244);
       top: 0;
       left: -100%;
       max-width: 270px;
       width: 100%;
       padding: 20px;
       line-height: 50px;
       transition: all 0.5s ease;
       z-index: 100;
    }
    nav .navbar .navLinks .sideBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .navbar .navLinks .sideBar .logoName,
    nav .navbar .navLinks .sideBar .bx-x,
    .navbar .bx-menu{
        color: white;
        font-size: 25px;
        font-weight: 900;
    }
    nav .navbar .navLinks .sideBar .logoName,
    nav .navbar .navLinks .sideBar .bx-x,
    .navbar .bx-menu{
        display: block;
    }
    nav .navbar .navLinks .links {
        display: block;
        margin-top: 20px;
    }
    .navbar .navLinks .links .subMenu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    .navbar .navLinks .links  {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }
   
    nav .navbar .navLinks .links li {
        display: block;
    }
    .navbar .navLinks .links .subMenu li {
        border-bottom: none;
    }
    .navbar .navLinks .links li:hover .firstSubMenu,
    .navbar .navLinks .links li:hover .secondSubMenu {
        display: none;
    }
    nav .navbar .navLinks .links li .aroow {
        line-height: 50px;
    }
    .navbar .navLinks .links li:hover .firstAroow,
    .navbar .navLinks .links li:hover .secondAroow {
        transform: rotate(0deg);
        cursor: pointer;
    }
    .navbar .navLinks .links .subMenu .more:hover .moreSubMenu {
        display: none;
    }
    .navbar .navLinks.showFirst .links .subMenu.firstSubMenu {
        display: block;
        
    }
    .navbar .navLinks.showSecond .links .subMenu .more .moreSubMenu {
        display: block;
        position: relative;
        top: 0;
        left: 0;
       
    }
    .navbar .navLinks.showFird .links .subMenu.secondSubMenu {
        display: block;
        cursor: pointer;
    }
    .navbar .navLinks.showFirst .links li .firstAroow,
    .navbar .navLinks.showFird .links li .secondAroow {
        transform: rotate(180deg);
        
    }
    .navbar .navLinks.showSecond .subMenu .moreAroow{
        transform: rotate(90deg);
    }
}
@media (max-width: 400px) {
    nav .navbar .navLinks {
        max-width: 100%;
    }
}

/* Style swiper */
.swiper {
    width: 100%;
    height: 100%;
}
.header .swiper-slide img,
.header .swiper-slide video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    width: 70%;
    text-align: center;
}
.header .content h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 2rem;
}
.header .content .btn {
    border: 2px solid white;
    padding: 0.5rem 1.3rem;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px white;
    animation: btn 4s infinite;
    cursor: pointer;
}
@keyframes btn {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}
.header .content .btn:hover {
    color: rgb(132, 132, 248);
    border: 2px solid rgb(132, 132, 248);
    background-color: white;
}
.header .arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding: 1rem;
    width: 15rem;
    border-top-left-radius: 5px;
}
.header .arrows .icon {
    font-size: 3rem;
}
.header .arrows .next,
.header .arrows .prev {
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}
.header .arrows .next:hover,
.header .arrows .prev:hover{
    color: white;
    opacity: 0.7;
}
.header .arrows .next.swiper-button-disabled,
.header .arrows .prev.swiper-button-disabled {
    opacity: 0.7;
    cursor: default;
}
.header .arrows .prev {
    margin-right: 1rem;
}
@media (max-width: 1400px) {
    .header .content h1 {
        font-size: 3rem;
    }
}
@media (max-width: 1000px) {
    .header .content h1 {
        font-size: 2rem;
    }
    .header .content .btn {
        font-size: 1rem;
    }
    .header .arrows {
        width: 12rem;
    }
}
@media (max-width: 700px) {
    .header .content h1 {
        font-size: 1.5rem;
    }
    .header .content .btn {
        font-size: 1rem;
    }
    .header .arrows {
        width: 10rem;
        padding: 0.5rem;
    }
    .header .arrows .icon {
        font-size: 2rem;
    }
    
}

.about .firstContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.about .firstContainer .column {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.about .firstContainer .column .title{
    margin: 0 30px;
}
.about .firstContainer .column .title h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.about .firstContainer .column .title p{
    color: rgb(67, 66, 66);
    line-height: 2rem;
    margin-bottom: 2rem;
}
.btn {
    background-color: greenyellow;
    border: 2px solid silver;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
}
.btn:hover {
    opacity: 0.5;
    color: white;
    border: 2px solid rgb(52, 51, 51);
    text-shadow: 2px 2px 5px black;
}
.about .firstContainer .column .swiper {
    height: 40rem;
    position: relative;
}
.about .firstContainer .column .swiper-wrapper {
    height: 100%;
}
.about .firstContainer .column .swiper-slide {
    height: 100%;
}
.about .firstContainer .column .swiper img,
.about .firstContainer .column .swiper video{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about .firstContainer .swiper .swiper-button-prev::after,
.about .firstContainer .swiper .swiper-button-next::after {
    content: "";
}
.about .firstContainer .column .swiper .swiper-button-prev,
.about .firstContainer .column .swiper-button-next{
    position: absolute;
    color: white;
    z-index: 1000;
    font-size: 3rem;
    background-color: greenyellow;
    padding: 0 15px;
    cursor: pointer; 
    top: auto;
    padding: 0 10px;
    width: 70px;
}
.about .firstContainer .column .swiper .swiper-button-prev:hover,
.about .firstContainer .column .swiper-button-next:hover{
    background-color: rgb(220, 245, 183);
}
.about .firstContainer .column .swiper .swiper-button-next {
    left: 70px;
    bottom: 0px;  
}
.about .firstContainer .column .swiper .swiper-button-prev {
    left: 0px;
    bottom: 0px;
}
@media (max-width: 1000px) {
    .about .firstContainer {
       display: flex;
       flex-direction: column;
       height: 100%;
       row-gap: 50px;
    }
    .about .firstContainer .column {
        width: 100%;
    }
    .about{
        padding-top: 0;
    }
}

/* style service */
.service .secondContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}
.service .column h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.service .column p{
    color: rgb(67, 66, 66);
    line-height: 2rem;
    margin-bottom: 3rem;
}
.service .secondContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service .column .box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.service .column .rating span {
    color: greenyellow;
}
@media (max-width: 1000px) {
    .service .column h1{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .service .column p{
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
    .service .column .box{
        margin-bottom: 1rem;
    }
    .service .secondContainer {
        gap: 1rem;
    }
}
@media (max-width: 796px){
    .service .secondContainer {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .service {
        padding-top: 0;
    }
}
/* Discount box style*/
.discount{
    position: relative;
    height: 60rem;
}
.discount .containerBox {
    position: relative;
    height: 100%;
}
.discount .containerBox::after{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: blue;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(15, 15, 71);
    opacity: 0.5;
}
.discount .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.discount .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}
.discount .content h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
}
.discount .content span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: white;
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 2rem;
    cursor: pointer;
}
@media (max-width: 796px){
    .discount {
        padding-top: 0;
        height: 50rem;
    }
    .discount .content {
        width: 100%;
    }
    .discount .content h1{
        font-size: 2rem;
    }
    .discount .content .btn{
        font-size: 1rem;
    }
    .discount .content span {
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
    }
    }







